@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --MainColor: #ECF2FF;
    --C1: #ECF9FF;
    --C2: #D9ACF5;
    --C3: #FFCEFE;
    --C4: #93C6E7;
    --C5: #FEDEFF;
    --C6: #E5E0FF;
}

.body {
    height: 100vh;
    background: var(--MainColor);
    font-family: 'Ubuntu', sans-serif;
}

.headerTitle {
    text-align: center;
}

.Banner {
    height: 100%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: radial-gradient(circle at left, var(--C1), var(--C2), var(--C3), transparent),
        radial-gradient(ellipse at right, var(--C4), var(--C5), var(--C6), transparent);
    border-radius: 40px;
    background-size: 400% 400%;
    box-shadow: 0 5px 80px var(--C3);
    -webkit-animation: AnimatedBG 12s ease-in-out infinite;
}

.NavUL {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-A {
    position: relative;
}

.nav-A:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: red;
    -webkit-animation: width 0.3s ease;
}

.nav-A:hover:before {
    width: 100%;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: green;
    -webkit-animation: underLine 1s ease-out forwards;
}

.col-4 img {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 40px rebeccapurple;
}

@-webkit-keyframes underLine {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes AnimatedBG {
    0% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 150%;
    }

    100% {
        background-position: 50% 100%;
    }
}

/* Todo List Style */
.myUl {
    max-height: 12vh;
    overflow: auto;
}

.noDot {
    list-style-type: none;
    list-style: none;
    font-size: 1.4em;
}

/* Contact Form Style */
.contact-form {
    /* die 3 schritten unten sind wichtig, damit contact-form selber in die mitte von sein eltern positioniert */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    /*kinder von contact-form*/
    text-align: center;
    width: 50%;
    box-shadow: 0 0 80px rgba(161, 179, 96, 0.493);
    border-radius: 20px;
}